body {
  background: url('game.png') no-repeat center center fixed;
  background-size: cover;
}

main.section {
  max-width: 1000px;
  margin: 3rem auto;
  padding: 1rem;
}

#animation_container {
  max-width: 100%;
  overflow: hidden;
  text-align: center;
}

canvas {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
}
